$primaryColor: #B68D40;
$secondaryColor: #ACBFA4;
$accentColor: blue;
$fontColor: #262626;
$greyColor: #ccc;
// used #333 for font color befre, it looked good.

$defaultFont: "Oswald", sans-serif;
$lightWeight: 200;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 10px;